# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.jks
*.keystore
*.hprof
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Archivos de registro
*.log

# Archivos de Python
*.pyc

# Archivos temporales
*.swp

# MacOS
.DS_Store

# Directorios misceláneos
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
.idea/*
.idea/codeStyles/
.idea/dictionaries/
.idea/runConfigurations/

# Visual Studio Code
.settings/

# Archivos de paquetes con rutas multi-root
.packages.generated

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds
.fvm/
generated_plugin_registrant.dart
flutter_export_environment.sh
flutter_export_environment.bat
pubspec.lock
pubspec.yaml.orig
.env
.env_dev
assets/.env.dev
assets/.env
*.env
*.env.dev

# Archivos de simbolización
app.*.symbols

# Archivos de ofuscación
app.*.map.json

# Cobertura de pruebas
coverage/

# Web
web/.dart_tool/
lib/generated_plugin_registrant.dart

# Linux
linux/flutter/ephemeral/
linux/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Windows
windows/flutter/ephemeral/
windows/.vs/
windows/build/

# Android
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/gradle-wrapper.jar
**/android/key.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/**/GeneratedPluginRegistrant.java
**/android/app/build/
**/android/app/*.keystore

# iOS/Xcode
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/xcuserdata/
**/ios/**/DerivedData/
**/ios/**/build/
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*

# Archivos de configuración de Firebase
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist

# Submódulos
packages/**/pubspec.lock

# Excepciones a las reglas de ignorar
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/.vscode/extensions.json
!/.vscode/launch.json
!/.idea/codeStyles/
!/.idea/dictionaries/
!/.idea/runConfigurations/